.container {
    /* background: red; */
    width: 45%;
    height: 380px;
    margin: 0 auto;
    border: 5px solid black;
}

.header {
    border: 5px solid black;
    width: 540px;
    height: 90px;
}

.header {
    border: 5px solid black;
    width: 540px;
    height: 90px;
    margin-top: 20px;
    margin-left: 24px;
}

.footer {
    border: 5px solid black;
    width: 540px;
    height: 90px;
    margin-top: 20px;
    margin-left: 24px;
}

.row {
    display: flex;
}

.sidebar {
    border: 5px solid black;
    margin-top: 20px;
    margin-left: 24px;
}

.content {
    border: 5px solid black;
    margin-top: 20px;
    margin-left: 24px;
    width: 364px;
}