.x6-813 {
    color: #214E89;
}

.x6-034 {
    color: #214E89;
}

.x6-006 {
    color: #214E89;
}

.username {
    color: #488AD5;
}

.Semester {
    color: #488AD5;
}

.x6-867 {
    color: #8BC9F2;
}

.x6-830 {
    color: #8BC9F2;
}