.container {
    /*background: rebeccapurple;*/
    width: 30%;
    height: 400px;
    margin: 0 auto;
}

.mock-1 {
    border: 2px solid;
}

.content {
    border: 2px solid;
    height: 270px;
}

.row {
    display: flex;
}

.o-1 {
    border: 2px solid black;
    background: #EA9999;
    height: 45px;
    width: 100px;
    margin-top: 15px;
    margin-left: 15px;
}

.o-2 {
    background: #9FC5F8;
    height: 45px;
    width: 240px;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 15px;
}

.footer {
    width: 355px;
    height: 45px;
    background: #FFE599;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 15px;
}

.name {
    display: inline;
    padding-left: 2px;
}