.container {
    width: 70%;
    margin: 0 auto;
}

h1.project-name {
    margin: 0;
}

.logo {
    background: #444;
    color: #fff;
    padding: 5px 0 30px 10px;
}

.row {
    display: flex;
}

.menu {
    background: #222;
    height: 30px;
}

.link {
    width: 70%;
}

.search {
    margin-top: 4px;
    width: 30%;
}

.content-1 {
    border: 2px solid #AAA;
    border-radius: 5px;
    background: #E6E6E6;
    width: 93%;
    margin-left: 20px;
    margin-top: 20px;
    height: 240px;
}

.tieu-de {
    padding-left: 20px;
}

.noi-dung {
    padding-left: 20px;
}

.read-more {
    padding-left: 20px;
}

a.read-link {
    text-decoration: none;
    color: black;
}

.read-more {
    width: 125px;
    height: 25px;
}

a.read-link {
    text-decoration: none;
    color: black;
    border: 1px solid #888;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #DDDDDD;
}

span.arrow {
    border: 1px solid #888888;
    background: #CFCFCF;
}

a.read-link {
    text-decoration: none;
    color: black;
    border: 1px solid #888;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #DDDDDD;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.content-item {
    margin-left: 20px;
    margin-top: 10px;
}

.content-2-2 {
    width: 600px;
}

.content {
    width: 70%;
}

.sidebar {
    width: 30%;
}

.item-128 {
    width: 50%;
    background: #CCC;
    padding: 45px 20px;
    margin-top: 20px;
    margin-right: 35px;
    border: 2px solid red;
}

h3.widget-h {
    margin-bottom: 0;
}

ul.widget {
    padding: 20px;
}

.footer {
    background: #EEEEEE;
    height: 40px;
}

.company {
    padding-top: 11px;
    padding-left: 20px;
}

a.YAML {
    text-decoration: none;
}